[mysqld]
## 同一局域网内注意要唯一
server-id=2
## 开启二进制日志功能，可以随便取（关键）
log-bin=/var/log/mysql/mysql-bin.log
# 需要复制的数据库名称
# binlog-do-db = master-slave
# 忽略不需要复制的数据库（可选）
binlog-ignore-db = mysql
## 设置为只读,该项如果不设置，表示slave可读可写
read_only= 1