[mysqld]
# 主服务器的唯一标识
server-id=1
# 启用二进制日志
log_bin=/var/log/mysql/mysql-bin
## canal 只支持以下格式
binlog-format=ROW
# 需要复制的数据库名称
# binlog-do-db = master-slave
# 忽略不需要复制的数据库（可选）
binlog-ignore-db = mysql
#解决此问题的一种方法是启用INFORMATION_SCHEMA.GLOBAL_STATUS功能。您可以在MySQL配置文件（通常是my.cnf或my.ini）中添加以下配置项：
show_compatibility_56=ON